@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px 13px 30px;
    color: orangered;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}


/* Header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 80px;
    background: #fff2b9;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img {
    width: 50%;
}

#navbar.active {
    right: 0px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: orangered;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: darkorange;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: orangered;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}


/* Home Page */

#hero {
    background-image: url(img/Cover\ Gốm-10.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: coral;
}

#hero button {
    background-image: url(img/button.png);
    background-color: transparent;
    color: orangered;
    border: none;
    padding: 14px 65px 14px 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}


/* Home Page Feature*/

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid#e7dbcc;
    border-radius: 5px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 211, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 6px 8px 6px 8px;
    line-height: 1;
    border-radius: 5px;
    color: coral;
    background-color: #fff2b9;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #fff2b9;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #fff2b9;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #fff2b9;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #fff2b9
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2b9;
}


/* Home Page Product*/

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #fff2b9;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: rgb(151, 151, 151);
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: orangered;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgba(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(0, 156, 109);
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: rgb(0, 156, 109);
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 211, 0.1);
}

#product1 .pro .cart:hover {
    background-color: teal;
    color: #fff;
}


/* Home Page Banner*/

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner-10.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #fffb00;
}

#banner button:hover {
    background-color: darkorange;
    color: #fff;
}


/* Home Page Sec-Banner*/

#sec-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sec-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner\ 2-10.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 5px;
}

#sec-banner .banner-box2 {
    background-image: url(img/banner\ 3-10.jpg);
}

#sec-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sec-banner h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
}

#sec-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sec-banner .banner-box:hover button {
    background: orange;
    border: 1px solid orange;
}


/* Home Page Th-Banner*/

#th-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#th-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner\ 4-10.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#th-banner .banner-box2 {
    background-image: url(img/banner\ 5-10.jpg);
}

#th-banner .banner-box3 {
    background-image: url(img/banner\ 6-10.jpg);
}

#th-banner h2 {
    color: #fff;
    font-weight: 800;
    font-size: 20px;
}

#th-banner h3 {
    color: #ffe23d;
    font-weight: 800;
    font-size: 14px;
}


/* Home Page News */

#news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner\ 7.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: orangered;
}

#news h4 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

#news p {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

#news span {
    color: rgb(255, 217, 0);
}

#news .form {
    display: flex;
    width: 40%;
}

#news input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#news button {
    background-color: rgb(255, 174, 0);
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* Home Page Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    width: 50%;
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: orange;
    padding-right: 5px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: orangered;
}

footer .install .row img {
    border: 1px solid orange;
    border-radius: 5px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .copyright {
    width: 100%;
    text-align: center;
}


/* Responsive */

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #fff2b9;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: orangered;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag {
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    #banner {
        height: 40vh;
    }
    #sec-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        margin-top: 20px;
    }
    #th-banner {
        padding: 0 40px;
    }
    #th-banner .banner-box {
        width: 20%;
    }
    #news .form {
        display: flex;
        width: 70%;
    }
    /*Contact page*/
    #form-details {
        padding: 40px;
    }
    #form-details form {
        width: 50%;
    }
}

@media(max-width:477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h2 {
        font-size: 32px;
    }
    h1 {
        font-size: 30px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product .pro {
        width: 100%;
    }
    #sec-banner .banner-box {
        height: 40vh;
    }
    #sec-banner .banner-box2 {
        margin-top: 20px;
    }
    #th-banner {
        padding: 0 20px;
    }
    #th-banner .banner-box {
        width: 100%;
    }
    #news {
        padding: 40px 20px;
    }
    #news .form {
        width: 100%;
    }
    #footer .copyright {
        text-align: start;
    }
    /*single product*/
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 50px;
    }
    #prodetails .single-pro-details {
        width: 100%;
    }
    /*blog page*/
    #blog {
        padding: 100px 20px 0 20px;
    }
    #blog.blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog.blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog.blog-details {
        width: 100%;
    }
    /*Contact page*/
    #form-details {
        flex-direction: column;
    }
    #form-details .details {
        width: 100%;
        margin-bottom: 30px;
    }
    #form-details .map {
        width: 100%;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
    /*Cart page*/
    #card-add {
        display: flex;
        flex-direction: column;
    }
    #coupon {
        width: 100%;
    }
    #subtotal {
        width: 100%;
        padding: 20px;
    }
}


/* Shop page */

#page-header {
    background-image: url(img/banner-10.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #fff;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: orangered;
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

#pagination a:focus {
    background-color: coral;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}


/* Single Product */

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background: teal;
    color: #fff;
}

#prodetails .single-pro-details span {
    line-height: 15px;
    font-size: 10px;
}


/* Blog Page */

#page-header.blog-header {
    background-image: url(img/banner-11-01.jpg);
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .bolg-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
    margin: 50px;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 12px;
    color: orangered;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: darkorange;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: rgb(250, 204, 0);
}

#blog .blog-details a:hover::after {
    background-color: darkorange;
}

#blog .blog-box h1 {
    position: absolute;
    top: -50px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: tomato;
    z-index: -9;
}


/* about Page */

#page-header.about-header {
    background-image: url(img/banner-11-01.jpg);
}


/* Gallery */

.Gallery {
    height: auto;
    padding: 20px;
}

.Gallery h1 {
    color: orangered;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.Gallery h1:hover {
    font-size: 50px;
    color: orange;
    cursor: pointer;
}

.Gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1em;
}


/* Hover styles */

.location-listing {
    position: relative;
}

.location-image {
    line-height: 0;
    overflow: hidden;
    border-radius: 10px;
}

.location-image img {
    filter: blur(0px);
    transition: filter .3s ease-in;
    transform: scale(1.1);
}

.location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(255, 140, 0, 0.466);
    border-radius: 10px;
    color: white;
    /* position the text middle */
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-listing:hover .location-title {
    opacity: 1;
    color: #fff;
}

.location-listing:hover .location-image img {
    filter: blur(2px);
}


/* contact Page */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: orangered;
    color: #fff;
}

#form-details form button:hover {
    background-color: orange;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #222;
}


/* Cart Page */

#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody td {
    padding-top: 13px;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtota h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background: orangered;
    color: #fff;
}

#coupon button:hover,
#subtotal button:hover {
    background: orange;
    color: #fff;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
